@import "../../src/style.scss";

.test {
    color: blue;
}

h2 {
    _-- {
        padding-bottom: 12px;
        background: lightyellow;
        color: green;

        &:hover {
            background: lightbrown;
            color: darkgreen;
        }

        @media screen and (max-width: 400px) {
            background: lightskyblue;
            color: orange;
        }
    }
}

ol {
    li _-- {
        background: lightgrey;
    }
}