html,
body {
  scroll-behavior: auto !important;
}

.theme-editor {
  max-height: 100vh;
  button, input {
    margin-right: 2px;
    border: 1px solid black;
    padding: 4px 7px;
    border-radius: 6px;
    font-size: 16px;
  }
}


.theme-length-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .theme-length-control {
    input _-- {
      margin-right: 5px;
      text-align: right;
      min-width: 40px;
      max-width: 120px;
    }
    display: inline-flex;
    > * {
      display: inline;
      flex-shrink: 2;
    }
  }
}

.scroll-in-view {
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

.theme-editor *:not(.font-button), .responsive-size-controls * {
  font-family: Roboto, sans-serif !important;
  color: black;
  line-height: initial !important;
}

.responsive-size-controls {
  input {
    width: 90px;
  }
}

.components-range-control__track {
  color: var(--theme-editor--range--color, #007cba) !important;
}

.simulating-touch-device body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.6);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(140, 140, 140, 0.9);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(140, 140, 140, 0.05);
  }
}

.responsive-overlay {
  _-- {
    background: grey;
  }
}

.responsive-frame-container {
  transform-origin: 0 0;
  //overflow: hidden;
}

.responsive-frame-container::-webkit-scrollbar {
  color: transparent;
  background-color: transparent;
}

.responsive-frame-container::-webkit-resizer {
  color: green;
  background-color: green;
}

.responsive-screen-options {
  z-index: 2;
  list-style-type: none;
}

html.hide-wp-admin-bar {
  margin-top: 0 !important;

  #wpadminbar {
    display: none;
  }

  nav#header, .top-navigation {
    top: 0;
  }
}

.server-theme-list {
  flex-shrink: 0;
}

.server-theme {
  background: white;
  text-align: center;
  font-size: 14px;
  height: 21px;
  margin-bottom: 4px;
  clear: both;

  button {
    font-size: 14px;
    padding: 2px;
  }
}

.server-theme-current _-- {
  background: rgba(246, 246, 89, 0.63);
}

.group-list, .server-theme-list {
  min-width: 360px;
  padding: 0;
  overflow-y: scroll;
  margin-bottom: 0;

  li {
    list-style-type: none;
  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(140, 140, 140, 0.5);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(140, 140, 140, 0.05);
  }
}

.theme-editor-menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.theme-editor-highlight {
  outline: 3px solid #efef05 !important;
  outline-offset: 8px !important;
}

//
//.theme-editor-highlight _-- {
//  outline-style: solid;
//  outline-color: #ffff00;
//  outline-width: 2px;
//  outline-offset: 2px;
//}

.shadow-picker {
  width: 100% !important;
  background: transparent !important;
}

.var-group {
  background: white !important;
  border: 1px solid black !important;
  margin-bottom: 3px !important;
  border-radius: 7px !important;
  padding: 2px 7px 7px !important;

  h5 {
    margin-bottom: 2px;
  }
}

.var-control {
  _-- {
    background-color: #e2e2e2;
  }
  clear: both;
  border: 1px solid black !important;
  margin-bottom: 3px !important;
  border-radius: 7px !important;
  padding: 2px 7px 7px !important;

  h5 {
    margin-bottom: 2px;
  }

}

.var-control-in-theme _-- {
  background-color: #fcfafa;
}

.var-control-no-match-screen {
  opacity: .3;

  &:hover {
    opacity: .6;
  }
}

.var-control-property _-- {
  color: inherit;
  background-color: transparent;
  padding: 0 2px;
  border-radius: 4px;
}

.variable-screen-switcher {
  opacity: .5;

  .var-control:hover &, .var-control:focus-within & {
    opacity: 1;
  }

  list-style-type: none;
  position: absolute;
  top: 21px;
  right: 7px;

  li {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
  }

  button {
    background: lightgray;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 0;
    width: 45px;
    height: 42px;
    vertical-align: center;
  }
}

.variable-screen-switcher-screen {
  display: block;
  padding: 0;
  margin: 0 auto;
  box-sizing: content-box;
  background: aquamarine;
  border: 1px solid gray;
  border-radius: 1px;
}

.usages-collapsed {
  max-height: 32px;
  max-width: 190px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.usages-open {
  clear: both;
}

div[id^=font-picker] ul {
  position: static !important;
}

.usages-wrapper {
  position: relative;
  max-height: 32px;
  overflow: hidden;
}

.usages-wrapper:hover {
  overflow: visible;
}

.font-weight-control {
  display: flex;
  justify-content: space-between;
  .components-base-control {
    display: inline-block;
    width: 48%;
  }
}

.fake-wp-button:hover {
  cursor: pointer;
}

.render-info {
  --bg-opacity: calc(var(--current-renders, 1) / max(var(--max-tracked-renders, 1), 2));
  // Uncomment if the var breaks your IDE color picker.
  //background-color: rgba(255, 240, 17);
  background-color: rgba(255, 240, 17, var(--bg-opacity));
}

.theme-editor .history-button {
  padding-left: 2px;
  padding-right: 2px;
}

.content {
  min-height: 400px;
}
@import "css/movable";
